/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    background-color: lightblue;
    border: 1px white solid;
    padding: 1em;
    text-align: center;
}

.nested-box {
    background-color: greenyellow;
    border: 1px white solid;
    text-align: center;
}

.row-space-around {
    justify-content: space-around;
}

.row-space-between {
    justify-content: space-between;
}

.row-align-middle {
    justify-content: center;
}

.row-align-end {
    justify-content: flex-end;
}