/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    background-color: lightblue;
    border: 1px white solid;
    padding: 10px;
    text-align: center;
}

.nested-box {
    background-color: greenyellow;
    border: 1px white solid;
    text-align: center;
}

.row-space-around {
    justify-content: space-around;
}

.row-space-between {
    justify-content: space-between;
}

.justify-content-middle {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-middle {
    align-items: center ;
}

.align-items-end {
    align-items: flex-end;
}



.bigger-box {
    padding: 40px
}

